.formPersonal span{
  display: block;
  margin-bottom: 20px;
}

.formPersonal .labelsex{
  padding: 6px 30px;
  border-radius: 20px;
  border: 2px solid #ccc;
}

.boxSexo:checked + label{
  background: purple;
  color: white;
  border: 2px solid purple;
}

.boxSexo{
  display: none;
}


#boton{display:none;}